/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/style.scss ***!
  \**************************************************************************************************************/
.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.1vw;
  margin: 2em;
  color: white;
  font-size: 1.1em;
}
.feature-grid .cell {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
}
.feature-grid .cell > .image {
  user-select: none;
  min-width: 100%;
  object-fit: cover;
  height: 100%;
  transition: 0.5s;
  position: relative;
}
.feature-grid .cell > .static {
  display: none;
}
.feature-grid .cell > video {
  object-position: bottom;
  object-fit: cover;
  min-height: 100%;
}
.feature-grid .cell .img-split {
  --split-perc: 50%;
}
.feature-grid .cell .img-split::after {
  content: "";
  position: absolute;
  top: 0;
  left: var(--split-perc);
  width: 5px;
  height: 100%;
  background: white;
  transition: 2s;
  transform: skew(6deg);
  box-shadow: 0 0 20px 2px black;
}
.feature-grid .cell .img-split > img {
  width: 100%;
  height: 100%;
  transition: 2s;
  position: absolute;
}
.feature-grid .cell .img-split > img:last-child {
  clip-path: polygon(0 0, calc(var(--split-perc) - 3%) 0, calc(var(--split-perc) + 3%) 100%, 0% 100%);
}
.feature-grid .cell .img-split.inactive {
  --split-perc: -5%;
}
.feature-grid .cell .img-split.active {
  --split-perc: 105%;
}
.feature-grid .cell > .cell-content {
  --animation-speed: 0.6s;
  width: 100%;
  padding: 1em;
  transition: var(--animation-speed) cubic-bezier(0.87, 0, 0.66, 1.03);
  opacity: 0;
  position: absolute;
  bottom: -100%;
  pointer-events: none;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.726), black);
}
.feature-grid .cell:hover {
  transform: scale(0.97);
}
.feature-grid .cell:hover > .cell-content {
  transition: var(--animation-speed) cubic-bezier(0.28, -0.02, 0, 1.04);
  bottom: 0;
  opacity: 1;
}
.feature-grid .cell:hover .image {
  transform: scale(1.05);
  transition: 5s ease-out;
}
.feature-grid .cell.row2 {
  grid-row: span 2;
}
.feature-grid .cell.row3 {
  grid-row: span 3;
}
.feature-grid .cell.row4 {
  grid-row: span 4;
}
.feature-grid .cell.col2 {
  grid-column: span 2;
}
.feature-grid .cell.col3 {
  grid-column: span 3;
}
.feature-grid .cell.col4 {
  grid-column: span 4;
}

#focus-container {
  display: flex;
  position: fixed;
  justify-content: center;
  visibility: hidden;
  align-items: center;
  padding-inline: 2em;
  gap: 3vh;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.336);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 100;
}
#focus-container #focus-img {
  position: relative;
  width: 75vh;
  user-select: none;
  transform: scale(0);
  transition: all 0.25s;
  box-shadow: 0 0 50px black;
  background-color: rgb(36, 36, 36);
  border: 5px solid #be00be;
  border-radius: 10px;
  overflow: hidden;
}
#focus-container #focus-img * {
  width: 100%;
}
#focus-container.focused {
  opacity: 1;
  visibility: visible;
}
#focus-container.focused > #focus-img {
  transform: scale(1);
}
#focus-container .arrow {
  --size: 5vh;
  display: block;
  content: "";
  z-index: 5;
  transition: all 0.5s;
  cursor: pointer;
  border-top: var(--size) solid transparent;
  border-bottom: var(--size) solid transparent;
}
#focus-container .arrow:nth-child(1) {
  border-right: var(--size) solid #be00be;
  transform-origin: right;
}
#focus-container .arrow:nth-child(3) {
  border-left: var(--size) solid #be00be;
  transform-origin: left;
}
#focus-container .arrow:hover {
  transform: scale(1.5);
}
#focus-container .arrow:active {
  transform: scale(1.25);
  transition: transform 0.1s;
  filter: brightness(1.5);
}

.image.focused {
  filter: brightness(1.5);
  transition: 1s !important;
}

.patch {
  margin-bottom: 1.25em;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.patch:last-child {
  margin-bottom: 0;
}
.patch > h1 {
  background-color: black;
  box-shadow: inset 0 0 25px -10px #be00be;
  border: 2px solid #be00be;
  padding: 0.25em;
  cursor: pointer;
  font-size: 1.35em;
  position: relative;
}
.patch > h1::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  max-width: 20px;
  max-height: 20px;
  right: 0.2em;
  bottom: 0.1em;
  aspect-ratio: 1;
  border: solid white;
  border-width: 0 3px 3px 0;
  margin: 0.5em;
  transform: rotate(45deg);
  transition: 0.5s;
  transform-origin: 75% 75%;
}
.patch > pre {
  position: relative;
  background-color: #1f1f1f;
  padding: 0.5em;
  box-shadow: inset 0 0 10px 5px black;
  border-radius: 0 0 10px 10px;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 0.9em;
  border-left: 2px solid #be00be;
  border-right: 2px solid #be00be;
  border-bottom: 2px solid #be00be;
  transform: translateY(-100%);
  max-height: 0;
  transition: transform 0.75s, max-height 1s ease-in-out, visibility 1s 0.1s;
  z-index: -1;
  visibility: hidden;
}
.patch.active > h1 {
  background-color: rgb(53, 0, 49);
}
.patch.active > h1::after {
  bottom: 0.25em;
  top: -0.15em;
  transform: rotate(225deg);
}
.patch.active > pre {
  transform: none;
  max-height: 9999px;
  visibility: visible;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: black;
  background-color: #ff00ff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(32, 32, 32);
  border-radius: 50vw;
  margin: 10px;
}

::-webkit-scrollbar-corner {
  background-color: rgb(32, 32, 32);
  border-radius: 50vw;
}

::-webkit-scrollbar-thumb {
  background-color: #be00be;
  border-radius: 50vw;
}

body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p:last-child {
  margin-bottom: 0;
}
p:first-child {
  margin-top: 0;
}

hr {
  border: 1px solid #be00be;
  box-shadow: 0 5px 20px 2px #be00be;
}

ul,
li {
  list-style-position: inside;
  list-style-type: "- ";
}

a {
  color: #ff00ff;
}
a:hover, a:focus {
  text-shadow: 0 0 2px #ff00ff;
}

code {
  background-color: rgb(15, 15, 15);
  padding: 0.025em 0.5em;
  border-radius: 5px;
  font-family: monospace;
  border: 1px solid rgb(120, 25, 131);
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}
iframe[src*=youtube] {
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo > img {
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
}
nav > a {
  position: relative;
  padding: 0.5em 1em;
  font-size: 1.25em;
  text-decoration: none;
  font-weight: bold;
  color: white;
  z-index: 0;
  transition: color 0.5s;
  overflow: hidden;
  text-transform: capitalize;
}
nav > a::after {
  position: absolute;
  inset: 0;
  top: 100%;
  height: 0%;
  content: "";
  background-color: #be00be;
  transition: 0.5s;
  z-index: -1;
  border-radius: 10px 10px 0 0;
}
nav > a.selected::after {
  top: 95%;
  height: 5%;
  filter: drop-shadow(0 0 5px #be00be) drop-shadow(0 0 10px #be00be) drop-shadow(0 0 15px #be00be);
}
nav > a:hover, nav > a:focus-visible {
  color: black;
}
nav > a:hover::after, nav > a:focus-visible::after {
  height: 100%;
  top: 0;
  filter: none;
}

.content {
  margin-inline: auto;
  max-width: 1000px;
  width: 85vw;
}

article {
  border: 2px solid #be00be;
  box-shadow: inset 0 0 50px -10px #be00be;
  padding: 2em;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  min-height: 35vh;
}
article > .header {
  margin-bottom: 0.5em;
}
article .section {
  margin-top: 2em;
  padding-block: 1em;
  padding-inline: 1em;
  border-left: 2px solid #be00be;
  position: relative;
  background-size: 150%;
  background-position: right;
  transition: 0.5s;
  /* yeah, this is a bit ugly. Just to make things clear, we are adding
  the alpha (AA) value at the of this color, which is in HEX */
  background-image: linear-gradient(90deg, #be00be50, #be00be25, #be00be25);
}
article .section:hover {
  background-position: left;
}
article .section-title {
  font-size: 1.5em;
  font-weight: bold;
}
article .section-content {
  margin-block: 1em;
}
article .section-content:last-child {
  margin-bottom: 0;
}
article .info {
  font-size: 1.1em;
  text-align: center;
  text-shadow: 0 0 5px #ff00ff;
}

footer {
  border-top: 4px solid #be00be;
  background-color: rgba(173, 0, 173, 0.1882352941);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7.5em;
  overflow-y: hidden;
}
footer > p {
  max-width: 50%;
}

@keyframes shake-rot {
  25% {
    transform: scale(1.1) rotate(15deg);
  }
  50% {
    transform: scale(1.1) rotate(-15deg);
  }
  75% {
    transform: scale(1.1) rotate(10deg);
  }
}
.link {
  display: inline-block;
  width: 75px;
  aspect-ratio: 1;
  margin-right: 1em;
}
.link:hover {
  animation: shake-rot 1s;
}
.link > * {
  width: 100%;
}

.download {
  display: block;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}
.download > img {
  max-width: 70%;
}
.download:hover, .download:focus {
  transform: scale(1.05);
  filter: brightness(1.5) drop-shadow(0 0 10px rgba(255, 255, 255, 0.514)) drop-shadow(0 0 2px #ff00ff);
}

@keyframes error-glow {
  from {
    filter: brightness(1.5) drop-shadow(0 0 0.25em rgba(255, 93, 93, 0.692));
  }
}
span.error {
  color: rgb(255, 79, 79);
  font-weight: bold;
  animation: error-glow 0.3s ease-in-out infinite alternate;
}
